@inject IGenericService<Orders> OrderService
@inject IGenericService<Customer> CustomerService
@inject IGenericService<Staff> StaffService
@inject IGenericService<Product> ProductService
@inject IOrderItemService OrderItemService

@if (!(customers == null || staffs == null || productList == null))
{
    <div class="modal modal-dialog-centered @(show ? "show" : "inactive")" id="modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content p-5 m-0">
                <div class="col d-flex justify-content-between align-items-center mx-5 mb-5 flex-grow-0">
                    <i class="close-btn bi bi-chevron-left" @onclick=Close> Close without Saving</i>
                    <h2 class="modal-title">@(isCreate ? "Add" : "Edit") Order</h2>
                    <i class="close-btn inactive bi bi-chevron-left"> Close without Saving</i>
                </div>
                <div class="form-content px-4 mx-auto">
                    <EditForm Model="@input" OnValidSubmit="@SubmitCallback" FormName="@($"OrderForm")">
                        <DataAnnotationsValidator />

                        <div class="row mb-3">
                            <label class="form-label">
                                Customer
                            </label>
                            <div>
                                <InputSelect class="dropdown randbox-form-input" disabled=@(!isCreate) @bind-Value="input!.CustomerID">
                                    <option value="" disabled selected>Select Customer</option>
                                    @foreach (var customer in customers!)
                                    {
                                        <option value="@customer.CustID">@customer.CustID - @customer.FirstName @customer.LastName</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => input.CustomerID)" class="mt-1 text-danger" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label">
                                Staff
                            </label>
                            <div>
                                <InputSelect class="dropdown randbox-form-input" @bind-Value="input!.StaffID">
                                    <option value="" disabled selected>Select Staff</option>
                                    @foreach (var staff in staffs!)
                                    {
                                        <option value="@staff.StaffID">@staff.StaffID - @staff.FirstName @staff.LastName</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => input.StaffID)" class="mt-1 text-danger" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label">
                                Product
                            </label>
                            <div>
                                <InputSelect class="dropdown randbox-form-input" @bind-Value="selectedProductID">
                                    @if (productList != null)
                                    {
                                        @foreach (var product in productList)
                                        {
                                            if (product != null && product.Name != null)
                                            {
                                                <option value="@product.ProductID">@product.Name</option>
                                            }
                                        }
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => selectedProductID)" class="mt-1 text-danger" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label">
                                Quantity
                            </label>
                            <div>
                                <InputNumber class="randbox-form-input" @bind-Value="selectedQuantity"></InputNumber>
                                <ValidationMessage For="@(() => selectedQuantity)" class="mt-1 text-danger" />
                            </div>
                        </div>


                        <!-- Display the list of order items -->
                        <ul class="list-unstyled">
                            @if (orderItems != null)
                            {
                                @for (var i = 0; i < orderItems.Count; i++)
                                {
                                    <li>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" @bind="orderItems[i].Selected" />
                                            </div>
                                            <span>@($"{orderItems[i].ProductName} - Qty: {orderItems[i].Quantity}")</span>
                                            <div class="d-flex">
                                                <button type="button" class="btn btn-sm btn-danger" @onclick="() => RemoveOrderItem(i)">Remove</button>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>


                        <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn btn-sm btn-success" @onclick="AddOrderItem">Add Item</button>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                        <button type="submit" class="btn btn-submit w-100 mt-2 mb-2" @onclick="SubmitCallback">Confirm Changes</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback OnSuccessfulSubmit { get; set; }

    private EventCallback SubmitCallback { get; set; }

    private List<Customer>? customers { get; set; }
    private List<Staff>? staffs { get; set; }
    private List<OrderItemModel>? orderItems;

    private InputModel? input { get; set; }
    private bool show = false;
    private bool isCreate { get; set; }

    private List<Product>? productList;

    private int selectedProductID { get; set; }
    private int selectedQuantity { get; set; }

  

    protected override async Task OnInitializedAsync()
    {
        input = new InputModel();
        productList = await ProductService.GetAll();
        customers = await CustomerService.GetAll();
        staffs = await StaffService.GetAll();
        orderItems = new List<OrderItemModel>();
    }

    public void OpenInAddMode()
    {
        SubmitCallback = EventCallback.Factory.Create(this, SubmitInAddMode);
        isCreate = true;
        input = new InputModel();
        ResetProductSelection();
        show = true;
        StateHasChanged();
    }

  
    private void ResetProductSelection()
    {
        selectedProductID = 0;
        selectedQuantity = 0;
    }

    private void AddOrderItem()
    {
        if (selectedProductID > 0 && selectedQuantity > 0)
        {
            var product = productList!.FirstOrDefault(p => p.ProductID == selectedProductID);
            if (product != null)
            {
                orderItems!.Add(new OrderItemModel
                    {
                        
                        ProductName = product.Name,
                        Quantity = selectedQuantity
                    });

                // Clear the selection
                ResetProductSelection();
            }
        }
    }


    public void Close()
    {
        input = new InputModel();
        ResetProductSelection();
        orderItems = new List<OrderItemModel>();
        show = false;
        StateHasChanged();
    }
    private bool isSubmitting = false;

    protected async Task SubmitInAddMode()
    {
        if (isSubmitting)
        {

            return;
        }

        try
        {
            isSubmitting = true;
            var newOrder = new Orders
                {
                    DateTimeCheckout = DateTime.Now,
                    DeliveryStatus = false,
                    CustomerID = input!.CustomerID,
                    StaffID = input!.StaffID,
                    OrderItems = new List<OrderItem>()
                };

            var addedOrder = await OrderService.Insert(newOrder);
            input!.OrderID = addedOrder.OrderID;

            // Add order items
            foreach (var orderItemModel in orderItems)
            {
                var selectedProduct = productList?.FirstOrDefault(p => p.Name == orderItemModel.ProductName);

                if (selectedProduct != null)
                {
                    // Update product stock
                    selectedProduct.StockNo -= orderItemModel.Quantity.GetValueOrDefault();
                    await ProductService.Update(selectedProduct);

                    // Insert order item
                    var orderItem = new OrderItem
                        {
                            Qty = orderItemModel.Quantity,
                            ProductID = selectedProduct.ProductID,
                            OrderID = input.OrderID
                        };

                    await OrderItemService.Insert(orderItem);
                }
            }

            await OnSuccessfulSubmit.InvokeAsync();
            Close();
        }
        finally
        {
            isSubmitting = false;
        }
    }

    public void RemoveOrderItem(int index)
    {
        if (index >= 0 && index < orderItems.Count)
        {
            // Remove the order item from the list
            orderItems.RemoveAt(index);

            // Trigger a refresh of the component asynchronously
            InvokeAsync(StateHasChanged);
        }
    }




    public class InputModel
    {
        public int OrderID { get; set; }
        [Required]
        public int? CustomerID { get; set; }
        public int? StaffID { get; set; }
    }

    public class OrderItemModel
    {
        public int OrderItemID { get; set; }
        [Required]
        public string? ProductName { get; set; }
        [Required]
        public int? Quantity { get; set; }
        public bool Selected { get; set; } // Add this line
    }

}
