@inject IGenericService<Orders> OrderService
@inject IGenericService<Customer> CustomerService
@inject IGenericService<Staff> StaffService
@inject IGenericService<Product> ProductService
@inject IOrderItemService OrderItemService

@if (!(customers == null || staffs == null || products == null))
{
    <div class="modal modal-dialog-centered @(show ? "show" : "inactive")" id="modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content p-5 m-0">
                <div class="col d-flex justify-content-between align-items-center mx-5 mb-5 flex-grow-0">
                    <i class="close-btn bi bi-chevron-left" @onclick=Close> Close without Saving</i>
                    <h2 class="modal-title">@(isCreate ? "Add" : "Edit") Order</h2>
                    <i class="close-btn inactive bi bi-chevron-left"> Close without Saving</i>
                </div>
                <div class="form-content px-4 mx-auto">
                    <EditForm Model="@input" OnValidSubmit="@SubmitCallback" FormName="@($"OrderForm")">
                        <DataAnnotationsValidator />

                        <!-- Change the Customer & Staff dropdown -->
                        <div class="row mb-3">
                            <label class="form-label">Customer</label>
                            <div>
                                <InputSelect class="dropdown randbox-form-input" @bind-Value="input.CustomerID">
                                    <option value="" disabled>Select Customer</option>
                                    @foreach (var customer in customers!)
                                    {
                                        <option value="@customer.CustID">@customer.CustID - @customer.FirstName @customer.LastName</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => input.CustomerID)" class="mt-1 text-danger" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label">Staff</label>
                            <div>
                                <InputSelect class="dropdown randbox-form-input" @bind-Value="input.StaffID">
                                    <option value="" disabled>Select Staff</option>
                                    @foreach (var staff in staffs!)
                                    {
                                        <option value="@staff.StaffID">@staff.StaffID - @staff.FirstName @staff.LastName</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => input.StaffID)" class="mt-1 text-danger" />
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="form-label">Product</label>
                            <div>
                                <InputSelect class="dropdown randbox-form-input" @bind-Value="input!.ProductID">
                                    <option value="" disabled selected>Select Product</option>
                                    @foreach (var product in products!)
                                    {
                                        <option value="@product.ProductID">@product.Name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => input.ProductID)" class="mt-1 text-danger" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label">Quantity</label>
                            <div>
                                <InputNumber class="randbox-form-input" @bind-Value="input.Quantity"></InputNumber>
                                <ValidationMessage For="@(() => input.Quantity)" class="mt-1 text-danger" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn btn-sm btn-success" @onclick="(e) => AddOrderItem()">Add Item</button>
                            </div>
                        </div>
                        <ul class="list-unstyled">
                            @if (orderItems != null)
                            {
                                @foreach (var item in orderItems)
                                {
                                    <li>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span>@($"{item.ProductName} - Qty: {item.Quantity}")</span>
                                            <div class="d-flex">
                                                <button type="button" class="btn btn-sm btn-danger" @onclick="(e) => RemoveOrderItem(item)">Remove</button>
                                                <button type="button" class="btn btn-sm btn-warning ms-2" @onclick="(e) => EditOrderItem(item)">Edit</button>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>

                        <button type="submit" class="btn btn-submit w-100 mt-2 mb-2" @onclick="SubmitCallback" disabled="@IsSubmitDisabled">Confirm Changes</button>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback OnSuccessfulSubmit { get; set; }
    private EventCallback SubmitCallback { get; set; }
    private List<Customer>? customers { get; set; }
    private List<Staff>? staffs { get; set; }
    private List<Product>? products { get; set; }
    private InputModel input = new InputModel();
    private bool show = false;
    private bool isCreate { get; set; }
    private bool isEdit { get; set; }
    private bool isSubmitting = false;
    private OrderItemModel editedOrderItem;
    private bool IsSubmitDisabled => !IsFormValid();
    private List<OrderItemModel> orderItems = new List<OrderItemModel>();

    private bool IsFormValid()
    {
        if (input.CustomerID == null || input.StaffID == null || orderItems == null || orderItems.Count == 0)
        {
            return false;
        }

        return true;
    }
    public void OpenInAddMode()
    {
        isCreate = true;
        input = new InputModel();
        SubmitCallback = EventCallback.Factory.Create(this, async () => await SubmitInAddMode()); // Use async
        show = true;
        StateHasChanged();
    }




    public void OpenInEditMode(Orders order)
    {
        isCreate = false;

        // Initialize input properties with values from the order object
        input = new InputModel
            {
                CustomerID = order.CustomerID,
                StaffID = order.StaffID,
                OrderID = order.OrderID,
             
                // Populate other properties as needed
            };

        orderItems = order.OrderItems.Select(item => new OrderItemModel
            {
                ProductID = item.ProductID,
                OrderItemID = item.OrderItemID,
                ProductName = item.Product.Name,
                Quantity = item.Qty
            }).ToList();

        // Assign the SubmitCallback to the SubmitInEditMode method
        SubmitCallback = EventCallback.Factory.Create(this, async () => await SubmitInEditMode(order));

        show = true;
        StateHasChanged();
    }



    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAll();
        customers = await CustomerService.GetAll();
        staffs = await StaffService.GetAll();

    }



    private void RemoveOrderItem(OrderItemModel orderItem)
    {
        if (orderItem != null)
        {
            orderItems.Remove(orderItem);
            StateHasChanged();
        }
    }




    private void Close()
    {
        input.ProductID = null;
        input.Quantity = 0;
        orderItems = new List<OrderItemModel>();
        show = false;
        StateHasChanged();
    }

    protected async Task SubmitInAddMode()
    {
        if (isSubmitting)
        {
            return;
        }

        try
        {
            isSubmitting = true;

            var order = new Orders
                {
                    CustomerID = input.CustomerID,
                    StaffID = input.StaffID,
                    DateTimeCheckout = DateTime.Now,
                };

            var orderItemsForOrder = new List<OrderItem>();

            foreach (var tempOrderItem in orderItems)
            {
                var product = await ProductService.GetById(tempOrderItem.ProductID ?? 0);

                if (product != null)
                {
                    var orderItem = new OrderItem
                        {
                            ProductID = tempOrderItem.ProductID ?? 0,
                            Qty = tempOrderItem.Quantity ?? 0
                        };

                    orderItemsForOrder.Add(orderItem);
                }
            }

            order.OrderItems = orderItemsForOrder;

            await OrderService.Insert(order);

            orderItems = new List<OrderItemModel>();

            Close();
            await OnSuccessfulSubmit.InvokeAsync();
        }
        finally
        {
            isSubmitting = false;
        }
    }


    protected async Task SubmitInEditMode(Orders order)
    {
        if (isSubmitting)
        {
            return;
        }

        try
        {
            isSubmitting = true;

            // Fetch all existing order items associated with the current order
            var existingOrderItems = await OrderItemService.GetAllByOrder(order!.OrderID);

            // Delete the existing order items
            foreach (var existingOrderItem in existingOrderItems)
            {
                await OrderItemService.DeleteById(existingOrderItem.OrderItemID);
            }

            // Create a new list for the order items from the modal
            var newOrderItems = orderItems.Select(item => new OrderItem
                {
                    ProductID = item.ProductID ?? 0,
                    Qty = item.Quantity ?? 0
                }).ToList();

            // Set the order's OrderItems property to the new list
            order.OrderItems = newOrderItems;

            // Fetch the selected customer and staff
            var selectedCustomer = await CustomerService.GetById(input.CustomerID ?? 0);
            var selectedStaff = await StaffService.GetById(input.StaffID ?? 0);

            // Update other order details including customer and staff
            order.Customer = selectedCustomer;
            order.Staff = selectedStaff;
            await OrderService.Update(order);

            // Clear the order items list in the modal
            orderItems = new List<OrderItemModel>();

            // Close the modal
            Close();

            // Trigger a refresh of orders or perform any other necessary actions
            await OnSuccessfulSubmit.InvokeAsync();

            // Explicitly trigger a re-render
            StateHasChanged();
        }
        finally
        {
            isSubmitting = false;
        }
    }




    private void EditOrderItem(OrderItemModel orderItem)
    {
        if (orderItems != null && orderItem != null)
        {
            // Populate the input fields with existing information
            input.ProductID = orderItem.ProductID;
            input.Quantity = orderItem.Quantity;

            // Set the edit mode flag
            isEdit = true;

            // Store the edited order item
            editedOrderItem = orderItem;

            // No need to remove the order item from the list
        }
    }





   


    private void AddOrderItem()
    {
        if (products != null && input.ProductID != null && input.Quantity > 0)
        {
            var selectedProduct = products.FirstOrDefault(p => p.ProductID == input.ProductID);
            if (selectedProduct != null)
            {
                var newOrderItem = new OrderItemModel
                    {
                        ProductID = selectedProduct.ProductID,
                        ProductName = selectedProduct.Name,
                        Quantity = input.Quantity
                    };

                orderItems.Add(newOrderItem);

                input.ProductID = null;
                input.Quantity = 0;
            }
        }
    }




    public class InputModel
    {
        public int OrderID { get; set; }
        [Required]
        public int? CustomerID { get; set; }
        [Required]
        public int? StaffID { get; set; }

        public int? ProductID { get; set; }

        public int? Quantity { get; set; }
    }

    public class OrderItemModel
    {
        public int? ProductID { get; set; }
        public int OrderItemID { get; set; }
        [Required]
        public string? ProductName { get; set; }
        [Required]
        public int? Quantity { get; set; }
    }
}